.products {
  display: flex;

  &__controls {
    min-width: 250px;
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
  }
}

@media all and (max-width: 960px) {
  .products {
    flex-direction: column;

    &__controls {
      width: 100%;
    }
  }
}
