@import 'src/global/styles/main';

.orders {
  padding-bottom: 1px;

  &__title {
    font-size: 2em;
    color: var(--textColor);
    margin: 20px auto;
    width: 80%;
    text-align: center;
    background: var(--yellow-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.order {
  box-sizing: border-box;
  height: 100%;
  min-height: 200px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: var(--yellow-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  color: var(--textColor);
  width: 80%;
  margin: 10px auto;

  &__info {
    font-size: 2em;
  }

  &__price {
   align-self: flex-start;
  }

  &__name {
    font-size: 1.2em;
    align-self: flex-start;
  }
}

.error {
  width: 50%;
  margin: auto;
}

@media all and (max-width: 1500px) {
  .product {
    &__name {
      font-size: 1.5em;
    }
  }
}
@media all and (max-width: 1000px) {
  .product {
    &__name {
      font-size: 1.2em;
    }
  }
}

@media all and (max-width: 680px) {
  .product {
    &__name {
      font-size: 1.5em;
    }
  }
}
