.header {
  display: flex;
  justify-content: flex-end;

  &__create {
    border: none;
    outline: none;
    display: block;
    padding: 5px 50px;
    background: var(--yellow-gradient);
    cursor: pointer;
    border-radius: 10px;
    text-transform: capitalize;
    color: #ccc;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 1.2em;
    margin-right: 35%;
  }
}
